# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production Build
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# API Keys & Secrets (VERY IMPORTANT for Bank Apps)
.env
.env.local
.env.*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Optional: if you use Tailwind's standalone CLI
tailwind.config.js.map
